body{
    width: 100%;
    margin-left: 5px;
}
#opc1,#opc2{
    width : 40%;
    display:inline-block;
}
#datosprog{
    width : 50%;
    display:block;
}

input{
    background-color: #AAA;
}

figure ,img {
    width : 70%;
    display:inline-block;

}
article {
    width : 90%;
    display:inline-block;
}

#form{
    margin-left: 10px;
}


