
.contenedor{margin: 0 auto;}
*{border: 1px solid #000;
    box-sizing: border-box; /* hace que el ancho sea el que es*/
}

div.uno ul{list-style: none;}

div.uno ul li{position: relative;}



div.uno ul li ul{position: absolute;
        top:0px;
        left: 10px;
        display: none;
        }


div.uno ul li:hover ul{display: block;}

div.uno ul li{display: block;}
/*------------------------------------------------------------------------------*/
div.dos ul{list-style: none;}

div.dos ul li{position: relative;}

div.dos ul li ul{position: absolute;
        top:100%;
        left: 0;
        display: none;
        }

div.dos ul li:hover ul{display: block;}

div.dos ul li{display: inline-block;
    width: 200px;

}




