/*Genérico para los dos*/
ul{padding: 0;}
ul{list-style: none;}
ul li{
    position: relative;
    width: 20px;
    padding: 5px 15px;

}

/*vertical*/

div.vertical ul li ul{position: absolute;
        top:0px;
        left: 100%;
        display: none;
        }


div.vertical ul li:hover ul{display: block;}

div.vertical ul li{display: block;}
/*------------------------------------------------------------------------------*/

/*horizontal*/

div.horizontal ul li ul{position: absolute;
        top:100%;
        left: 0;
        display: none;
        }

div.horizontal ul li:hover ul{display: block;}

div.horizontal ul li{display: inline-block;
}




