html, body{
    background-color: #f7f7f7;
}

*{/*border: 1px solid #000;*/
    box-sizing: border-box; /* hace que el ancho sea el que es*/
}

body{
    font: 14pt/1.48em "Source Sans Pro", sans-serif;
    color:#464646;
}
a{
    color:#000;
    text-decoration: none;
}


h1, .h1{

    font-size: 2em; /* 28pt del h1 entre 14pt(tamaño base) */
    line-height: 1.08em; /*30.24pt/28 */ /* 28= doble de tamaño base que es 14 obtenido por photoshop*/
    text-transform: uppercase;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    margin-top: 0;  /*eliminar margenes superiores pq se añaden al padding*/
}


ul{
    margin: 0;  /*eliminar margenes superiores pq se añaden al padding*/
}


table{
    width: 100%;    /*Tablas deberían ocupar el 100% del cont padre*/
}

/*---------------------------Textos------------------------------------*/
.bold{ font-weight: bold;}
.italic{font-style: italic;}

.normal{font-weight: normal;}
.small{font-size: 0.8em ;}
.big{font-size: 1.5em;}
.uppercase{text-transform: uppercase;}
.list{ list-style: none; padding: 0;}
.center{text-align: center;}
.list p{margin-top: 0;}
.list li{padding: 20px 0;}
.list li:first-child{padding-top: 0px;}
.list li h4{font-style: italic; color: #7CBCFC;}
.price{font-size: 1.5em;}


/*---------------------------Colores-----------------------------------*/
.txt-red{color: #F00;}
.txt-blue{color: #7CBCFC;}
.bg-white{background-color:#FFFFFF;}
.list-blue li{
    background: transparent url("http://placehold.it/5x5") no-repeat 0 0;/*transparente, dir de imagen, no repetir y posicion*/
    padding-left: 20px;
}



/*---------------------------cabecera----------------------------------*/
.breadcrum{
    text-transform: uppercase;
    list-style: none;
    padding: 0;
}

.breadcrum li{display: inline-block;}

.breadcrum li:after{content:"/";}               /*añadir "/" entre enlaces del menu*/

.breadcrum li:last-child:after{content: "";}    /*El ultimo no se muestra "/"*/

.breadcrum a{margin-right: 5px;}                /*Separar los enlaces de la barra*/


/*-----------------------------layout-----------------------------------*/
.wrapper{
    width: 90%;
    max-width: 990px;
    margin: 0 auto;     /* centrar el elemento de bloque*/
    padding: 4.0404040404% 0;    /* Separación entre secciones*//*Medido con phot*//*queriamos 40 pixels para 990->(40/990)*100=4.04040404*/
}

/*Usado para divs que en su interior poseen elementos flotantes para que el div abarque todo
el elemento y no se produzcan solapamientos*/
.wrapper:before, .wrapper:after,
.clearfix:before, .clearfix:after{
    content:"";
    display:table;
}
.wrapper:after,
.clearfix:after{
    clear:both;
}
.clearfix{
    zoom: 1; /*Para el explorer*/
}

.bg-gray:first-child .wrapper{
    padding-bottom: 0px;
}

.read-more{display: none;}

/*--------------------------------botones---------------------------------*/
.btn{
    display: inline-block;
    width: 100px;
    padding: 2px;
    color:#FFF;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    margin: auto 3px;
    box-shadow: 0 3px 5px #CDCDCD;
    background-image: linear-gradient(to bottom, #999, #CCC);

}

.btn-red{ background-image: linear-gradient(to bottom, #f74040 80%, #d33535);}

.btn-big{padding: 10px inherit;
}

.btn-green{background-image: linear-gradient(to bottom, #0F0 80%, #5F5);}



/*--------------------------------------------------*/

.fleft{float: left;}
.col-25{width:25%;}
.col-50{width:50%;}
.col-75{width:75%;}

/*para que la tabla no se corte si se hace la pag mas pequeña, (para que haga sroll)*/
.overflow{overflow-x:scroll ;}

.marco{
    background-color:#FFF;
    padding: 10px;
    box-shadow: 0 0 5px #CDCDCD;
}
img{max-width: 100%;}   /*Las imagenes tomarán tl ancho máximo del que disponga */



.description{padding: 20px;}



/*-----------Contacto horizontal---------------------*/

.menupie{
    text-align: center;
}
.menupie li {
    display: inline;
    margin: 0 5px;
}

/*------------------Tabla---------------------------*/

/* Tabla */
table {
    border-collapse: collapse;
}

table thead th {
    text-align: left;
    font-weight: normal;
    padding-bottom: 10px;
}

table tbody {
    border-bottom: 10px solid #FFF;
}

table tbody tr {
    border-top: 10px solid #FFF;
    border-left: 10px solid #FFF;
    border-right: 10px solid #FFF;
    background-color: #fafafa;
}

table tbody td {
    padding: 10px 0;
}

table tbody td * {
    vertical-align: middle;
}

table .col-10{
    padding-left: 80px;
    border-top: 30px solid #FFF;
    border-bottom: 30px solid #FFF;
    border-left: 10px solid #FFF;
    border-right: 10px solid #FFF;
    background :#555;}

table .social {
    background-color: #FFF;
    border: 1px solid #e9e9e9;
    text-align: center;
    padding: 7px 5px 6px 5px;
    display: inline-block;
    min-width: 100px;
}

.hidden{display: none;}

table .social:hover .share {
    display: none;
}

table .social:hover .links {
    display: inline;
}

table tbody td:last-child {
    text-align: right;
}


/*Para tablets*/
@media screen and (max-width: 768px){
    body{background-color: #0F0;}

    .marco.col-25{
        width: 40%;
    }

    #A2 .col-75{
        width: 60%;
    }

    h1, .h1{font-size: 1.6em;
        text-transform: none;
    }

    .description p{
        height: 290;
    }

    .read-more{
        display: block;
    }

    .marco .price{
        float:none;
        display: block;
        text-align: center;
        margin: 0;
    }

    .marco .btn-big{
        float: none;
        display: block;
        width: 100%;
    }

    .list li h4{
        float: none;
        width: 100%;
    }
    .list li p{
        float: none;
        width: 100%;
    }
}


/*para moviles*/
@media screen and (max-width: 480px){
    body{background-color: #FF0;}
    .wrapper{width: 100%;
        padding:4%;
    }

    .breadcrumb{float: left;}

    .navbar-toggle{
        display: block;
        float: right;
    }

.marco.col-25{
    width: 100%;
    padding:2%
}
.marco.col-75{
    width: 100%;
    padding:2%
}
.marco.col-50{
    width: 100%;
    padding:2%
}
.marco img{width: 100%;}

}