

#botones {
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
    max-width: 800px;
    display: block;
}
#progreso{
    display: block;
    width: 100%;
    position: relative;
}


#reproductor video {
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    width: 80%;
    max-width: 800px;
}

